.inputGroup {
  margin-bottom: 16px;
  max-width: 100%;
}

.hashLabel {
  margin-bottom: 8px;
  display: block;
}

.hashInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: monospace;
  font-size: 0.85rem;
}
